!!! 5
%html
  %head
    %meta{title: current_page.data.title || "Pomdev"}
    %meta{description: "La réference du développement Objective-C en français !"}
    %meta{charset: "utf-8"}
    %meta{content: "IE=edge;chrome=1", "http-equiv" => "X-UA-Compatible"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    = stylesheet_link_tag "blog"
    = javascript_include_tag "blog"
  %body

    = partial 'header'

    = partial 'nav'

    %section#main{:role => "main"}
      .container
        .row
          = yield_content(:jumbotron)

          .row.span9
            = yield

          .row.span3
            = partial 'sidebar'

    = partial 'footer'